datarthome/web-build/asset-manifest.json
datarthome/web-build/favicon-16.png
datarthome/web-build/favicon-32.png
datarthome/web-build/favicon.ico
datarthome/web-build/index.html
datarthome/web-build/manifest.json
datarthome/web-build/serve.json
datarthome/web-build/fonts/YanoneKaffeesatz_200ExtraLight.ttf
datarthome/web-build/fonts/YanoneKaffeesatz_300Light.ttf
datarthome/web-build/fonts/YanoneKaffeesatz_400Regular.ttf
datarthome/web-build/fonts/YanoneKaffeesatz_500Medium.ttf
datarthome/web-build/fonts/YanoneKaffeesatz_600SemiBold.ttf
datarthome/web-build/fonts/YanoneKaffeesatz_700Bold.ttf
datarthome/web-build/pwa/apple-touch-icon/apple-touch-icon-180.png
datarthome/web-build/pwa/apple-touch-startup-image/apple-touch-startup-image-640x1136.png
datarthome/web-build/pwa/apple-touch-startup-image/apple-touch-startup-image-750x1334.png
datarthome/web-build/pwa/apple-touch-startup-image/apple-touch-startup-image-828x1792.png
datarthome/web-build/pwa/apple-touch-startup-image/apple-touch-startup-image-1125x2436.png
datarthome/web-build/pwa/apple-touch-startup-image/apple-touch-startup-image-1242x2208.png
datarthome/web-build/pwa/apple-touch-startup-image/apple-touch-startup-image-1242x2688.png
datarthome/web-build/pwa/apple-touch-startup-image/apple-touch-startup-image-1536x2048.png
datarthome/web-build/pwa/apple-touch-startup-image/apple-touch-startup-image-1668x2224.png
datarthome/web-build/pwa/apple-touch-startup-image/apple-touch-startup-image-1668x2388.png
datarthome/web-build/pwa/apple-touch-startup-image/apple-touch-startup-image-2048x2732.png
datarthome/web-build/pwa/chrome-icon/chrome-icon-144.png
datarthome/web-build/pwa/chrome-icon/chrome-icon-192.png
datarthome/web-build/pwa/chrome-icon/chrome-icon-512.png
datarthome/web-build/static/js/2.423012b0.chunk.js
datarthome/web-build/static/js/2.423012b0.chunk.js.LICENSE.txt
datarthome/web-build/static/js/2.423012b0.chunk.js.map
datarthome/web-build/static/js/app.e0962f84.chunk.js
datarthome/web-build/static/js/app.e0962f84.chunk.js.map
datarthome/web-build/static/js/runtime~app.2e9f1821.js
datarthome/web-build/static/js/runtime~app.2e9f1821.js.map
datarthome/web-build/static/media/day1_g_2.2ff7eccb.csv
datarthome/web-build/static/media/day2_g_2.7919cc77.csv
datarthome/web-build/static/media/heart.55ab564c.svg
datarthome/web-build/static/media/StartScreen.a978fb4a.jpg
